.embla {
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}

.embla__container {
  display: flex;
  gap: 1.5rem;
}

.embla__slide {
  flex: 0 0 calc(100% - 1.5rem);
  min-width: 0;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.333%;
  }
}

@media (min-width: 1400px) {
  .embla__slide {
    flex: 0 0 25%;
  }
}
